@font-face {
  font-family: "StrangerThings";
  src: url("fonts/ITC-Benguiat-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  

   font-family: "Stranger";
  src: url("fonts/ITCBenguiatStdBookCn.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@keyframes redGlow {
  0% {
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.4),
                0 0 20px rgba(229, 9, 20, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.8),
                0 0 40px rgba(229, 9, 20, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.4),
                0 0 20px rgba(229, 9, 20, 0.3);
  }
}

.glow-red {
  animation: redGlow 2.5s infinite ease-in-out;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
