@font-face {
  font-family: "StrangerThings";
  src: url("fonts/ITC-Benguiat-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  

   font-family: "Stranger";
  src: url("fonts/ITCBenguiatStdBookCn.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@keyframes redGlow {
  0% {
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.4),
                0 0 20px rgba(229, 9, 20, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.8),
                0 0 40px rgba(229, 9, 20, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.4),
                0 0 20px rgba(229, 9, 20, 0.3);
  }
}

.glow-red {
  animation: redGlow 2.5s infinite ease-in-out;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* ================= Animated Red Border ================= */
.animated-border {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

/* moving red line */
.animated-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  filter: drop-shadow(0 0 8px red);


  background: linear-gradient(
    90deg,
    transparent,
    #ff0000,
    transparent
  );

  background-size: 300% 300%;
  animation: borderRun 4s linear infinite;
  

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

@keyframes borderRun {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

