@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "StrangerThings";
  src: url("/fonts/ITC-Benguiat-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "StrangerThings";
}
