@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'StrangerThings';
  src: url('/fonts/ITC-Benguiat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StrangerRegular';
  src: url('/fonts/ITCBenguiatStdBookCn.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'StrangerThings';
}
@layer base {
  html, body {
    @apply bg-black text-white;
    margin: 0;
    padding: 0;
  }
}
html, body {
  overscroll-behavior: none;
}


.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
@layer utilities {
  /* For Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes toastSlide {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-toast {
  animation: toastSlide 0.35s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
